.palette-container {
  z-index: 5;
  min-width: 5rem;
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background-color: var(--light-grey);
  right: 0;
  left: 0;
  top:100%;
  padding: 0.8rem;
  box-shadow: rgba(166, 159, 162, 0.477) 0px 7px 29px 0px;
}

.palette-container-modal {
  z-index: 5;
  min-width: 5rem;
  position: absolute;
  right: 30%;
  top: 70%;
  background-color: var(--light-grey);
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: rgba(166, 159, 162, 0.477) 0px 7px 29px 0px;
}

.color-item {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.color-item:hover {
  cursor: pointer;
  opacity: 0.8;
}
