body {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

:root {
    --cta-notes: #fc9487;
    --cta-light: #fdbcb4;
    --cta-ultralight: #ffd8d4;
    --cta-hover: #97493f;
    --error-msg: #FF0000;
    --notes-footer: #321815;
    font-size: 80%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cta-notes);
}