@import url("../../styles/main.css");

.simple-nav-logo {
  max-width: 12rem;
}

.notes-nav-item {
  font-size: 1.4rem;
  margin: 2rem 2rem 2rem 0rem;
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn {
  color: var(--white-bg);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn:hover {
  color: var(--notes-footer);
}

.simple-nav-bar .simple-nav .simple-nav-links li .btn:hover::after {
  background: var(--cta-hover);
}

.simple-nav-bar {
  background-color: var(--cta-notes);
}

@media (max-width: 900px) {
  #simple-nav-header {
    width: 100%;
    padding: 0;
  }

  .simple-nav-links.display-flex {
    flex-direction: row;
    gap: 0.3rem;
  }

  .simple-nav ul li.nav-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 2rem;
  }

  .simple-nav .simple-nav-links .nav-search-bar .search-bar-icon {
    width: fit-content;
  }

  .simple-nav .simple-nav-links .nav-search-bar .search-bar-icon .fas {
    font-size: 1rem;
  }

  .simple-nav ul li.nav-search-bar label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .simple-nav ul li.nav-search-bar input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .notes-nav-item {
    font-size: 1rem;
    margin: 2rem 0 2rem 0rem;
  }

  .simple-nav-logo {
    width: 15rem;
  }
}

@media (max-width: 700px) {
  .simple-nav-logo {
    display: none;
  }

  .simple-nav ul li.nav-search-bar {
    width: 20%;
    height: 2rem;
  }
  .simple-nav ul li.nav-search-bar input {
    display: flex;
    width: 80%;
  }

  .simple-nav-bar {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .simple-nav ul li.nav-search-bar {
    width: 15%;
    height: 2rem;
  }
  .simple-nav ul li.nav-search-bar input {
    display: flex;
    width: 100%;
    margin: 0;
  }
}
