.landing-footer {
  background-color: var(--notes-footer);
  width: 100%;
  min-height: 10rem;
  padding: 3rem;
  display: block;
  color: var(--white-bg);
  text-align: center;
  font-size: larger;
  position: absolute;
  bottom: 0;
  height: 10rem;
}

.footer-social {
  display: inline-flex;
  gap: 1.2rem;
}

.footer-social .fab {
  color: var(--white-bg);
}

.copy-right {
  font-size: 0.9rem;
  margin: 1rem;
}
