.App,
.page-container {
  position: relative;
  min-height: 100vh;
  line-height: 1.5;
}

.content-wrap {
  padding-bottom: 13rem;
  min-height: 100vh;
}

.icons-display {
  color: var(--notes-footer);
}

.icons-display:hover {
  color: var(--cta-notes);
  cursor: pointer;
  transition: 200ms ease;
}
