.grid-col-2 {
    grid-template-columns: 20% 1fr;
}

.notes-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.notes-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-col-item.flex-col .h1 {
    margin: 0;
    text-align: center;
}