.grid-col-2 {
    grid-template-columns: 20% 1fr;
}

.notes-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notes-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}